@use "../../styles/global.scss" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.footer {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: $bg-page;
  &__text{
    @include body-small-mobile;
    color: $table-colum-ph; //changed color as per mock up
    @include tablet {
    @include body-small-tablet;
    }
  }
}


