
@import '~antd/dist/antd.css';

h4 {
  color: white;
  font-weight: bold
}

.Login-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-image: url('/images/flat01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    }

.Login-input{
  margin: 15px;
  width: 400px;
}

.Sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 5%;
    border-color: white;
    background-color: rgba(63,169,255,0.5);
    margin: 40px;
}

.Sign .Login-input{
  width: 250px;
}

.HomeThemes{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 80px;
  background-image: url('/images/flat01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Flag {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


