// primary colors
$primary-text-color: #13182c; //Instock-Black:  Global text color
$interactive-elements: #2e66e5; // Instock-Indigo:  Interactive elements
$white-global: #ffffff; //White:  Global white color

// secondary colors
$table-colum-ph: #5c667e; //Slate
$divider: #bdc5d5; //Cloud

//background colors
$bg-hover-header: #232940; //Graphite
$bg-page: #f7f8f9; // Light-Grey
//supporting colors
$in-stock: #158463; //green
$out-stock-error: #c94515; //red
